/* Nav bar*/

/* Les balises h1 dans nav */
/*Ancienne méthode /*
/*
nav h1{
    float: right;
}

nav ul
{
    float: left;
}

main{
    padding-top: 100px;
}
*/


/* Nouvelle méthode */

/* CSS "Reset"  */
body
{
    margin: 0;
}
/* aligner les options du menu "simplifier" */
header nav li, footer li
{
display: inline;
}
header nav
{
    /* Initialise la flex bob */
    display: flex;
    /*Répartit l'espace entre les éléments de la flexbox */
    justify-content: space-between;
    /* Couleur de fond */
    background-color: rgb(117, 117, 117);
    /*On espace le contenu entre-eux*/
    padding: 0px 8px;
    /* Alignement du Titre et de la navigation entre-eux */
    align-items: center;
}
/* Les balises a doivent avoir leur propre propriété "color" , celle-ci n'hérite pas des couleurs générales */
header nav a
{
    color: rgb(51, 255, 0);
    text-decoration: none;
}
/* Nos services */
/* :first-child ► pseudo classe */
/*main section: :first-of-type*/
main section:first-child div 
{
    /*Les balises h1 enfant de la section 1er enfant de main */
    display: flex;
    padding: 0px 8px;
}
/* > indique "enfant de" */
/* Les balises h1 enfant de la section 1er enfant de main */

main section > h1
{
text-align: center;
}

main section:first-child article
{
    /*première façon pour delimiter la largeur */
   /*width: calc(100% / 3);*/
   /*Deuxième manière pour delimiter la largeur des boxes */
    flex: 1;
    padding: 10px;
}

/* Nous contacter*/
/*Parent block en gris */
main section:last-child
{
    background-color: #ddd;
    padding: 8px;
}

/* mise en forme sujet, email, message */
main form
{
    width: 80%;
    margin: auto;
}

/* largeur des textes d'entrée */
input, textarea
{
    width: 100%;
}

/* position du boutton envoyer */
button
{
    display: block;
    margin: auto;
}
/*mise en page général du bas de page*/
footer
{
 display: flex;
 padding: 8px;
 background-color: rgba(117, 117, 117, 0.76);
 text-align: center;
}
/*départager les emplacements entres eux*/
footer section
{
    flex: 1;
}
/*On enlève les puces sur les listes */
footer ul
{
    padding: 0;
}
/*alignement des sections*/
footer section:nth-child(2) ul li
{
    display: inline;
}
/* Couleurs des liens*/
a 
{
    color: white;
    text-decoration: none;
}
/*taille des icones*/
footer section:nth-child(2) ul li a
{
    font-size: xx-large;
}
/*Type couleur en fonction d'un lien ou d'un référence*/
[type = email]
{
    color: blueviolet;
}

[href*="https://facebook.com"]
{
   color: #3b5998;
}

[href*="https://www.linkedin.com/in/mehdi-bouguern-1a094a1ab"]
{
    color: #0e76a8;
}

[href*="https://instagram.com"]
{
    color: darkorchid;
}